{% load i18n %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/jquery.knob/1.2.13/jquery.knob.min.js"></script>

  <title>Parakh</title>
</head>
<body>
  <div class="background-image"></div>

  <style>
    .background-image {
  background-image: url("{% static 'images/parakh 1.png'%}");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
  /* a {
    background-color:#093966;; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  } */
  .a {
      background-color: #093966;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10px;
    }

    text{
      color: #093966;
      font-size: 36px;
    }
 
element.style {
    display: block;
    padding-left: 0px;
}

  </style>
<style>
/* For mobile devices */
@media screen and (max-width: 767px) {
  /* Center the modal vertically */
  #myModal1 .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #myModal1 .modal-content {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .background-image {
    background-position: center center;
  }
}

</style>
  <!--pop up all  Modal 1 -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static"  >
    <div class="modal-dialog">
      <div class="modal-content">
     
        <div class="modal-body">
          <img src="{% static 'images/top_user.png'%}" style="position: absolute; top: 0; left: 0;" alt="top_user"> <br>
          <br>
          <img src="{% static 'images/pratham_center.png'%}" style="position: absolute; top: 0; right: 0; padding-right: 5px; padding-top: 5px; width: 80px; height: 50px;" alt="top_user"> <br>

          <center><img src="{% static 'images/login.png' %}" class="col-sm-7 col-md-11  col-xs-12 " alt="My Image">
          </center> <br> 
          <center>
            </a><br><br>
            <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                      </a>
                      <ul class="dropdown-menu">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
      
                        {% for lang in languages %}
                        <li>
                          <a class="dropdown-item" href="/{{lang.code}}">
                          {{ lang.name_local }}
                        </a>
                      </li>
      
                        {% endfor %}  
                       
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">Disabled</a>
                    </li>
                  </ul> -->

                  <!-- <select id="language-select"  style="width: 35%;"> -->

                    <form action="{% url 'set_language' %}" method="POST">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ request.path }}">
                      <select name="language" onchange="this.form.submit()">
                        {% get_available_languages as languages %}
                        {% for lang_code, lang_name in languages %}
                          <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                          </option>
                        {% endfor %}
                      </select>
                    </form>



                    <!-- <option>
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                      </a>
                      <ul class="dropdown-menu">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                    
                        {% for lang in languages %}
                        <li>
                          <a class="dropdown-item" href="/{{lang.code}}">
                            {{ lang.name_local }}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </option>
                    <p>Selected Language: <span id="selectedLanguage"></span></p>
                    
                    <script>
                      // Retrieve the selected language from local storage
                      var selectedLanguage = localStorage.getItem('selected_language');
                      document.getElementById('selectedLanguage').innerText = selectedLanguage;
                    </script> -->
                    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                      // Retrieve the selected language from local storage
                      var selectedLanguage = localStorage.getItem('selected_language');
                    
                      // Set the selected language in the dropdown
                      $(document).ready(function() {
                        $('.dropdown-menu a.dropdown-item').each(function() {
                          if ($(this).attr('href') === '/' + selectedLanguage) {
                            $(this).addClass('active');
                          }
                        });
                      });
                    
                      // Store the selected language in local storage when a language is clicked
                      $('.dropdown-menu a.dropdown-item').click(function() {
                        var selectedLanguage = $(this).attr('href').replace('/', '');
                        console.log('Selected Language:', selectedLanguage);
                        console.log('Code is running');

                        localStorage.setItem('selected_language', selectedLanguage);
                      });
                    </script>
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Language" %}
                      </a>
                      <ul class="dropdown-menu">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                    
                        {% for lang in languages %}
                        <li>
                          <a class="dropdown-item {% if '/'|add:lang.code == request.path_info %}active{% endif %}" href="/{{ lang.code }}">
                            {{ lang.name_local }}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    <p>Selected Language: {{ selectedLanguage }}</p> -->
                  <!-- </select><br><br> -->


                  <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </nav> -->
         <!-- {% translate "Paragraph" %}  -->
         {{trans}}
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
            <form action="/" method="post">
              {% csrf_token %}
              <input type="hidden" name="option" value="{{ selected_option }}">

              <select name="option" class="form-select" style="width: 80%; border: 3px solid gray; font-family: Roboto ; font-size: 18px;" id="assessment-select" name="assessment">
                {% for choice in options %}
                      <option style="font-size: 18px; font-family: Roboto ;" value="{{ choice.0 }}">{{ choice.1 }}</option>
                  {% endfor %}
              </select><br>
              <!-- <input class="a" type="submit" value="START ASSESSMENT"><br> -->
              <input class="a" type="submit" value="{% trans 'START' %}">
              {% trans "Paragraph" %}
              {% trans "START" %}

            </form>
          </center>
        </div>
       
      </div>
    </div>
  </div>

 
<script>
  $('.dropdown-menu a.dropdown-item').click(function() {
  var selectedLanguage = $(this).attr('href').replace('/', '');
  localStorage.setItem('selected_language', selectedLanguage);
});
</script>


  <script>
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
  </script>


  <!-- all popup script -->
  <script>
    $("div[id^='myModal']").each(function () {

      var currentModal = $(this);

      //click next
      currentModal.find('.btn-next').click(function () {
        currentModal.modal('hide');
        currentModal.closest("div[id^='myModal']").nextAll("div[id^='myModal']").first().modal('show');
      });

      //click prev
      currentModal.find('.btn-prev').click(function () {
        currentModal.modal('hide');
        currentModal.closest("div[id^='myModal']").prevAll("div[id^='myModal']").first().modal('show');
      });
    });

  </script>
  <script>
    $(document).ready(function () {
      $("#myModal1").modal('show');
      $("myModal1").width(100);
    });

  </script>
  <script>

    $(document).ready(function () {
      $("#fire").modal('show');
    });
    function showSpinner() {
      var spinnerDialog = document.getElementById("spinner");
      spinnerDialog.style.display = "block";
    }

    window.addEventListener("load", () => {
      const bar = document.querySelectorAll(".bar");
      for (let i = 0; i < bar.length; i++) {
        bar.forEach((item, j) => {
          // Random move
          item.style.animationDuration = `${Math.random() * (0.7 - 0.2) + 0.2}s`; // Change the numbers for speed / ( max - min ) + min / ex. ( 0.5 - 0.1 ) + 0.1
        });
      }
    });
  </script>

</body>
</html>